body{
  background-color: var(--bs-EpicodeTemaColore4);
  transition: all 0.6s linear;
}

#ebNavbar{
  border-bottom: 1px solid var(--bs-EpicodeTemaColore1) !important;
  width: 100% !important;
}

#ebFooter{
  border-top: 1px solid var(--bs-EpicodeTemaColore1) !important;
  width: 100vw !important;
}

.temaLink {
  color: white;
  opacity: 0.6;
  transition: opacity 0.3s ease; 
}

.temaLink:hover {
  opacity: 1; 
}

.temaLink:active {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .temaLink {
margin: 0 3%;
  }
}

.cardWrapper {
  width: 160px;
  height: 220px;
  border: 2px solid var(--bs-EpicodeTemaColore1);
  transition: all 0.5s ease; /* 'all' anima tutte le proprietà modificate */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer; /* Rende chiaro che le card sono interattive */
}

.cardWrapper {
  /* Le altre proprietà rimangono invariate */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Ombra base più profonda */
  transition: all 0.5s ease;
}

.cardWrapper:hover, .selectedBook {
  /* Le altre proprietà rimangono invariate */
  transform: translateY(-2%) scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); /* Ombra molto più pronunciata al hover/selezionata */
  border: 2px solid var(--bs-EpicodeTemaColore5);
}

.cardWrapper:hover button, .selectedBook button {
  background-color: var(--bs-EpicodeTemaColore5);
  border: 1px solid var(--bs-EpicodeTemaColore5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 10px var(--bs-EpicodeTemaColore5); /* Ombra e glow combinati per i pulsanti */
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.2), 0 0 10px var(--bs-EpicodeTemaColore5); /* Ombra e glow combinati per i pulsanti */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cardWrapper:hover, .selectedBook {
  /* Le altre proprietà rimangono invariate */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5), 0 0 15px var(--bs-EpicodeTemaColore5); /* Ombra profonda con glow */
}
