body{
  background-color: var(--bs-EpicodeTemaColore4);
  transition: all 0.6s linear;
}

#ebNavbar{
  border-bottom: 1px solid var(--bs-EpicodeTemaColore1) !important;
  width: 100vw !important;
}

#ebFooter{
  border-top: 1px solid var(--bs-EpicodeTemaColore1) !important;
  width: 100vw !important;
}

.temaLink {
  color: white;
  opacity: 0.6;
  transition: opacity 0.3s ease; 
}

.temaLink:hover {
  opacity: 1; 
}

.temaLink:active {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .temaLink {
margin: 0 3%;
  }
}
